<div class="conteiner">
    <div class="row">
        <a type="button" class="btn btn-lg btn-primary"
        [routerLink]="['/']">
        Regresar
        </a>
    </div>
</div>

<h1>{{title}}</h1>



<div class="conteiner">
<form #formAuto="ngForm"  (ngSubmit)="onSubmit()">
    <label>Marca:</label>
    <p>
        <input 
            type="text"
            name="marca"
            #marca="ngModel"
            [(ngModel)]="auto.marca"
            requiered />
    </p>
    <label>modelo:</label>
    <p>
        <input 
            type="text"
            name="modelo"
            #modelo="ngModel"
            [(ngModel)]="auto.modelo"
            requiered />
    </p>
    <label>Version:</label>
    <p>
        <input 
            type="text"
            name="version"
            #version="ngModel"
            [(ngModel)]="auto.version"
            requiered />
    </p>    
    <label>Año:</label>
    <p>
        <input 
            type="text"
            name="anio"
            #anio="ngModel"
            [(ngModel)]="auto.anio"
            requiered />
    </p>     
    <input type="submit" value="{{title}}">
    </form>
</div>